<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet"><link rel="stylesheet" href="/css/style.css">
    <title>{{site.title}}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container"> <!-- start of content container-->
