  {{> top}}
  {{> nav}}
    <h1>{{{title}}}</h1>
    {{#each collections.posts}}
      <a href="/{{this.path}}">
        <h3>
          <span>{{this.title}}</span><span>{{this.publishDate}}</span>
        </h3>
      </a>
    {{/each}}
  {{> bottom}}
